# Tailscale
TS_AUTHKEY=tskey-auth-...        # Authorization key used to connect the server to your Tailscale network.
TS_STATE_DIR=/var/lib/tailscale  # Path to store the Tailscale state.

# Vaultwarden
INVITATIONS_ALLOWED=false        # Disables the ability to invite new users to Vaultwarden.
SIGNUPS_ALLOWED=true             # Allows new account creation. Set to false after the initial setup.
WEBSOCKET_ENABLED=true           # Enables live WebSockets sync across all your connected devices.
