# Shared
TZ=UTC

# Tailscale
TS_AUTHKEY=tskey-auth-...
TS_STATE_DIR=/var/lib/tailscale

# Vaultwarden
INVITATIONS_ALLOWED=false
SIGNUPS_ALLOWED=true
WEBSOCKET_ENABLED=true

# Backup
ARCHIVE_PASSWORD=

# AWS S3
S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
